<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698274835409-05v118ebjnsq02iijdb1emjfdjjt08hr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698274835409-05v118ebjnsq02iijdb1emjfdjjt08hr</string>
	<key>API_KEY</key>
	<string>AIzaSyC4kJPrchvosy_i4lR37VXNs8G7L5AO1e4</string>
	<key>GCM_SENDER_ID</key>
	<string>698274835409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tracy.ai-ttendance</string>
	<key>PROJECT_ID</key>
	<string>face-recognition-9ec14</string>
	<key>STORAGE_BUCKET</key>
	<string>face-recognition-9ec14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698274835409:ios:4b73c16b51766b48840ef0</string>
</dict>
</plist>